extends layout

block content
  // Main jumbotron for a primary marketing message or call to action=
  .container
    h1.display-3 Website: #{title}
    p
      | This is a template for a simple marketing or informational website. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, error? Ut sit facilis fugiat, velit hic eaque dolor excepturi dolores provident! Harum dolore in expedita corporis, voluptatum inventore dolorum quo. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
    p
      a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
 